.wrapper-1 {
	top: .88rem;
	background: #f5f5f5
}

.doc-h-wrap {
	border-bottom: 1px solid #eee;
	z-index: 1;
	position: relative;
	background-color: #fff;
	white-space: nowrap
}

.doc-h-wrap>div {
	display: inline-block;
	width: 33.333%;
	line-height: .88rem;
	font-size: .28rem;
	text-align: center;
	position: relative;
}

.doc-h-wrap>div::after {
	content: '';
	position: absolute;
	width: 2px;
	background-color: #eee;
	height: .36rem;
	right: -1px;
	top: .26rem
}

#choose-dept-btn {
	text-indent: -.1rem
}

#choose-dept-btn::before {
	transition: .3s;
	content: '';
	border-top: .1rem solid #747575;
	border-bottom: .1rem solid transparent;
	border-left: .1rem solid #747575;
	border-right: .1rem solid transparent;
	position: absolute;
	top: .29rem;
	right: .7rem;
	transform-origin: center;
	transform: rotate(-135deg);
	transition: .3s
}

#choose-dept-btn.active::before {
	transform: rotate(45deg);
	top: .39rem
}

#change-state span {
	display: inline-block;
	width: .68rem;
	height: .46rem;
	border-radius: .23rem;
	background: #ececec;
	vertical-align: middle;
	margin-left: .12rem;
	transition: .2s
}

#change-state span b {
	display: block;
	float: left;
	border-radius: 50%;
	height: .42rem;
	width: .42rem;
	border: 1px solid #e2e2e2;
	background: #fff;
	margin: .02rem;
	transition: .2s
}

#change-state.active span {
	background: #ff8c41
}

#change-state.active span b {
	transform: translate3d(.22rem,0,0);
	border: none
}

#search-doc {
	text-indent: .5rem;
	transition: .25s
}

#search-doc input {
	display: none;
	width: 5.5rem;
	line-height: .6rem;
	font-size: .28rem;
	position: absolute;
	top: .12rem;
	left: 1rem;
	padding: 0 .2rem;
	transition: box-shadow .2s
}

#search-doc input:focus {
	box-shadow: 0 0 .1rem #ff8c41
}

#search-doc.active {
	transform: translate3d(-68.2%,0,0);
	width: 100%;
	background-color: #fff
}

#search-doc.active span {
	opacity: 0
}

#search-doc.active input {
	display: block
}

#search-icon {
	position: absolute;
	transition: .25s;
	width: .3rem;
	height: .3rem;
	background: url(../../assets/img/icon-search.png)no-repeat center;
	background-size: contain;
	left: .77rem;
	top: .25rem
}

#search-doc.active #search-icon {
	left: .3rem;
	transform: scale(1.5)
}

#search-hide {
	display: none;
	position: absolute;
	height: .88rem;
	width: .88rem;
	background: url(../../assets/img/icon-next.png)no-repeat center;
	background-size: auto .3rem;
	right: 0;
	top: 0
}

#search-doc.active #search-hide {
	display: block
}

.doc-wrap {
	border-bottom: 1px solid #eeeeee;
	padding: 0 .24rem;
	background-color: #fff
}

.doc-img {
	float: left;
	border-radius: 50%;
	overflow: hidden;
	width: .97rem;
	height: .97rem;
	margin-top: .32rem;
	background: url(../../assets/img/me.png)no-repeat center;
	background-size: cover
}

.doc-inf {
	float: right;
	margin-left: .37rem;
	width: 5.68rem;
	margin-top: .32rem
}

.doc-inf h4 {
	font-weight: 500;
	font-size: .34rem;
	margin-bottom: .13rem
}

.is-serve {
	display: inline-block;
	vertical-align: bottom;
	font-size: .26rem;
	color: #33a9fb;
	margin-left: .3rem;
	background-color: #f6f8ff;
	line-height: .35rem;
	padding: 0 .15rem
}

.doc-inf .i-1 {
	font-size: .26rem
}

.inf-p {
	margin-bottom: .13rem;
	color: #9f9f9f;
	font-size: .26rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.doc-inf-2 {
	margin-bottom: .24rem;
	padding-top: .13rem;
	float: left;
	width: 100%
}

.doc-inf-2 p {
	float: left;
	font-size: .26rem;
	color: #888;
	width: 33.333%;
	text-align: center;
	position: relative;
	line-height: .3rem
}

.doc-inf-2 p::after {
	content: '';
	position: absolute;
	width: 2px;
	background-color: #eee;
	height: .3rem;
	right: -1px;
	top: 0
}

.doc-inf-2 p:last-child::after {
	content: none
}

.doc-inf-2 p span {
	color: #ff8c41;
	margin-right: .1rem
}

.wrap-shade {
	position: absolute;
	width: 100%;
	bottom: 0;
	top: .88rem
}